.detalle-contenedor {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.detalle-contenedor h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.detalle-contenedor .info p {
  font-size: 18px;
  margin: 8px 0;
  color: #444;
}


.imagen-principal {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.info p {
  margin: 4px 0;
}

.volver-contenedor {
  text-align: center;
  margin-top: 40px;
}

.btn-volver {
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-color: #28a745; 
}

.btn-volver:hover {
  background-color: #1976d2; /* azul más fuerte */
  transform: scale(1.05);
}

.contenedor-encabezado {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

}

.encabezado {
  background-color: white;
  width: 100%;
  padding: 0px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1000;
  border-bottom: 3px solid black;
  /* 👈 línea negra delgada */
}


.contenedor-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}

.dashboard {
  background-color: #99d9f2;
  padding: 30px 15px;
  min-height: 100vh;
  margin-top: -20px; /* 👈 crea separación visible para que aparezca el borde */
}

.logopng {
  width: 90px;
  height: auto;
  margin-left: -140px;
  margin-top: -70px;
}

.titulopng {
  width: 140px;
  height: auto;
  margin-left: 10px;
  margin-top: -70px;
}
.logo-centro {
  display: block;
  margin: 20px auto 10px auto; /* top, right, bottom, left */
  margin-left: 455px;
  width: 100px;
  height: auto;
}


