<header class="encabezado">
  <div class="contenedor-encabezado">

    <div class="iconos">
      <mat-icon>account_circle</mat-icon>
      <mat-icon mat-raised-button color="primary" routerLink="/menu">menu</mat-icon>
    </div>

    <div class="contenedor-logo" routerLink="/home">
      <img src="assets/img/logo.png" alt="Logo" class="logopng">
      <img src="assets/img/nombrepagina.png" alt="Titulo" class="titulopng">
    </div>

  </div>
</header>


<div class="Bienvenidos">
  <h1>Bienvenidos</h1>
</div>