
.contenedor-encabezado {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.chart-container-bg {
  background-color: #d9d9d9; /* color plateado */
  padding: 20px;             /* para que el gráfico no pegue al borde */
  border-radius: 8px;        /* opcional, esquinas redondeadas */
}

.encabezado {
  background-color: white;
  width: 100%;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1000;
  border-bottom: 2px solid black;
}

.contenedor-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}

.logopng {
  width: 90px;
  height: auto;
  margin-left: -130px;
  margin-top: -10px;
}

.titulopng {
  width: 140px;
  height: auto;
  margin-left: 10px;
  margin-top: -10px;
}

.dashboard {
  background-color: #99d9f2;
  padding: 30px 15px;
  min-height: 100vh;
  margin-top: -20px; 
}

.logo-centro {
  display: block;
  margin: 20px auto 10px auto; /* top, right, bottom, left */
  margin-left: 430px;
  width: 100px;
  height: auto;
}

.titulo-chats {
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px; 
  font-size: 28px; 
  color: #333; 
}

.custom-button{
  background-color: #260591;
  color: white;
}