<div style="text-align: center; margin-top: 20px; margin-bottom: 20px" class="encabezado">
  <div class="contenedor-encabezado">
    <div class="iconos"></div>

    <div class="contenedor-logo" routerLink="/menu">
      <img src="assets/img/logo.png" alt="Logo" class="logopng" />
      <img src="assets/logosmenu/logotit.png" alt="Titulo" class="titulopng" />
      <img src="assets/logosmenu/usuario.jpg" class="logo-centro" />
    </div>
  </div>
</div>

<div class="dashboard">
  <h1 style="text-align:center;">Usuarios Activos vs Inactivos</h1>

  <div style="max-width:600px; margin:auto;">
    <canvas baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
      [legend]="barChartLegend">
    </canvas>
  </div>
</div>
